In [1]:
# List is the collection of the elements, which is the muttable in nature, the elements are stored in the orderd , which allows the duplicates
# which can nbe declared []

In [6]:
# Examples
l=[1,2,4,5,6]
print(l)
# muttable in the nature
l[4]=10
print(l)

[1, 2, 4, 5, 6]
[1, 2, 4, 5, 10]

In [7]:
gen=range(20)
print(gen)
print(list(gen))

range(0, 20)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
val=['a','b','c']
print(val)
val[1]="Alex"
print(val)

['a', 'b', 'c']
['a', 'Alex', 'c']

In [13]:
# By adding the list we can use two methods
# append,insert

# by using the append we add the elements end of the list
# by using the insert we can add the elements at specified location
val=['q','r','e']
val.append("Dvansh")
print(val)
val.insert(0,"surya")
print(val)

['q', 'r', 'e', 'Dvansh']
['surya', 'q', 'r', 'e', 'Dvansh']

In [17]:
# to remove the elements at specified location we need to use the pop,remove
# pop are used to the index
# remove are used to the elemnts
val=['q','r','e']
v=[1,2,3,4]
val.pop(1)
print(val)
v.remove(4)
print(v)

['q', 'e']
[1, 2, 3]

In [22]:
# if the list is already has the values,we can add the multiple values use the 
# extend
l1=[1,2,3,4]
l1.extend([7,8,9,9,('a','b')])
print(l1)

[1, 2, 3, 4, 7, 8, 9, 9, ('a', 'b')]