In [1]:
# Pandas is the python library 
# use for the data cleaning and the fast analysis
# pandas cleans the messy data, make it readble and the relavant
# to install the pandas library we use the ->pip install  pandas

In [2]:
# pip install pandas

Requirement already satisfied: pandas in c:\users\gramavikasa\appdata\local\programs\python\python313\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\gramavikasa\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gramavikasa\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gramavikasa\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gramavikasa\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\gramavikasa\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
 # in the pandas we mainly use two datastructures ->Series and DataFrame

# Series is the one dimensional array . 
# like it is a column in a table..
import pandas as pd
res=pd.Series([4,7,-5,3])
print(res)

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
# the left side column has the labels it has start from the 0,1,2,3,we can also access the values..

In [6]:
import pandas as pd
res=pd.Series([4,7,-5,3])
print(res[0])

4

In [16]:
# we can also specify the our own labels using the index keyword
import pandas as pd
# res=pd.Series([4,7,-5,3],index=['a','b','c','d'])
res=pd.Series([4,7,-5,3],index=['d','c','b','a'])
print(res)
print(res['a'])
# print(res[['d','c','a']]) to call the multiple values of the index we can use the [[double square bracket]]

d    4
c    7
b   -5
a    3
dtype: int64
3
d    4
c    7
a    3
dtype: int64

In [17]:
# we can also double the values using the (*)
import pandas as pd
# res=pd.Series([4,7,-5,3],index=['a','b','c','d'])
res=pd.Series([4,7,-5,3],index=['d','c','b','a'])
print(res**2)

d    16
c    49
b    25
a     9
dtype: int64

In [25]:
#  a series it can be back to the dictionary using the 
# -> to_dict(we can bask to the sreies to the dictionary)
import pandas as pd
res=pd.Series([4,7,-5,3],index=['d','c','b','a'])
print(res)

d    4
c    7
b   -5
a    3
dtype: int64

In [26]:
# it is used to fetch the mentioned values
import pandas as pd
calories={'day1':420,'day2':450,'day3':500}
res=pd.Series(calories, index=['day1','day2'])

print(res)

day1    420
day2    450
dtype: int64

In [28]:
# DataFrame : is the 2 dimensional array, it is the collection of the columns.(it can be  both the rows 
# and columns indexex)
import pandas as pd
data={"state":["Ohio","Ohio","Ohio","Nevada","Nevada","Nevada"]
     ,"year":[2000,2001,2002,2001,2002,2003],
     "pop":[1.4,1.8,1.2,3.8,3.9,2.9]}
res=pd.DataFrame(data)
print(res)

    state  year  pop
0    Ohio  2000  1.4
1    Ohio  2001  1.8
2    Ohio  2002  1.2
3  Nevada  2001  3.8
4  Nevada  2002  3.9
5  Nevada  2003  2.9

In [29]:
#head(): in this the head method selects only first five rows of the data
import pandas as pd
data={"state":["Ohio","Ohio","Ohio","Nevada","Nevada","Nevada"]
     ,"year":[2000,2001,2002,2001,2002,2003],
     "pop":[1.4,1.8,1.2,3.8,3.9,2.9]}
res=pd.DataFrame(data)
print(res.head())

    state  year  pop
0    Ohio  2000  1.4
1    Ohio  2001  1.8
2    Ohio  2002  1.2
3  Nevada  2001  3.8
4  Nevada  2002  3.9

In [31]:
#tail(): in this the tail method selects only last five rows of the data
import pandas as pd
data={"state":["Ohio","Ohio","Ohio","Nevada","Nevada","Nevada"]
     ,"year":[2000,2001,2002,2001,2002,2003],
     "pop":[1.4,1.8,1.2,3.8,3.9,2.9]}
res=pd.DataFrame(data)
print(res.tail())

    state  year  pop
1    Ohio  2001  1.8
2    Ohio  2002  1.2
3  Nevada  2001  3.8
4  Nevada  2002  3.9
5  Nevada  2003  2.9

In [33]:
# if you specify the columns it will be the rearranged.
# columns..
import pandas as pd
data={"state":["Ohio","Ohio","Ohio","Nevada","Nevada","Nevada"]
     ,"year":[2000,2001,2002,2001,2002,2003],
     "pop":[1.4,1.8,1.2,3.8,3.9,2.9]}
res=pd.DataFrame(data,columns=['year','state','pop'])
print(res)

   year   state  pop
0  2000    Ohio  1.4
1  2001    Ohio  1.8
2  2002    Ohio  1.2
3  2001  Nevada  3.8
4  2002  Nevada  3.9
5  2003  Nevada  2.9

In [34]:
# if you specify the any column .That is not present in dictionary.The values of the column will be displayed
import pandas as pd
data={"state":["Ohio","Ohio","Ohio","Nevada","Nevada","Nevada"]
     ,"year":[2000,2001,2002,2001,2002,2003],
     "pop":[1.4,1.8,1.2,3.8,3.9,2.9]}
res=pd.DataFrame(data,columns=['year','state','pop','debt'])
print(res)

   year   state  pop debt
0  2000    Ohio  1.4  NaN
1  2001    Ohio  1.8  NaN
2  2002    Ohio  1.2  NaN
3  2001  Nevada  3.8  NaN
4  2002  Nevada  3.9  NaN
5  2003  Nevada  2.9  NaN

In [36]:
# we can also acces the particular column
import pandas as pd
data={"state":["Ohio","Ohio","Ohio","Nevada","Nevada","Nevada"]
     ,"year":[2000,2001,2002,2001,2002,2003],
     "pop":[1.4,1.8,1.2,3.8,3.9,2.9]}
res=pd.DataFrame(data,columns=['year','state','pop'])
print(res['state'])

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

In [41]:
# we can also print the empty column to fill the data
import pandas as pd
data={"state":["Ohio","Ohio","Ohio","Nevada","Nevada","Nevada"]
     ,"year":[2000,2001,2002,2001,2002,2003],
     "pop":[1.4,1.8,1.2,3.8,3.9,2.9]}
res=pd.DataFrame(data,columns=['year','state','pop','debt'])
res['dept']=90
print(res)

   year   state  pop debt  dept
0  2000    Ohio  1.4  NaN    90
1  2001    Ohio  1.8  NaN    90
2  2002    Ohio  1.2  NaN    90
3  2001  Nevada  3.8  NaN    90
4  2002  Nevada  3.9  NaN    90
5  2003  Nevada  2.9  NaN    90