In [2]:
# Tuple: is  a collection  of elements ,which can be the immutable, It store the elements in order ,allow duplicates 
# A Tuple can be decalred as the : ()

In [5]:
# example of the tuple
val=(8,7,6,6)
print(val)

(8, 7, 6, 6)

In [6]:
tup=4,8,9
print(tup)

(4, 8, 9)

In [12]:
t=tuple('String')
# converting each character as the String
print(t)
print(t[5])

('S', 't', 'r', 'i', 'n', 'g')
g

In [19]:
n=((1,2,23),(3,4))
print(n[1])


# Tuple is the immutable in the Nature
n[1]=2
print(n)

(3, 4)

TypeError: 'tuple' object does not support item assignment

In [21]:
n2=(2,1,1,'a','b',[1,2,34],True)
print(n2)
print(n2[5])

(2, 1, 1, 'a', 'b', [1, 2, 34], True)
[1, 2, 34]

In [24]:
# Swap Case

a,b=10,5
print("A Value:",a)
print("B Value:",b)
b,a=a,b
print("A Value:",a)
print("B Value:",b)

A Value: 10
B Value: 5
A Value: 5
B Value: 10

In [28]:
t1=(1,22,3)
a,b,c=t1
print(a)
print(b)
print(c)

1
22
3

In [34]:
# in the tuple we can use the list 
val=[(1,2,3),(4,5,6),(8,9,10)]
# in this we need to keep the same size of the value for each tuple....

for a,b,c in val:
    print(f"a={a},b={b},c={c}")

a=1,b=2,c=3
a=4,b=5,c=6
a=8,b=9,c=10

In [37]:
# Methods of the tuple....
t=(1,22,33,4,4,4,5,6,6,7,8)
print(t.count(4))
print(t.count(6))
print(t.count(1))

3
2
1